* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #6A6161;
	height: 3000px;
}

.main {
	width: 1536px;	/* ~ ~ width = column amount * column width ~ ~ */ 
	background-color: green;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}


/* columns ~ not supporting ~ */

.column {
	width: 512px;
	display: inline-block;
}


/* rows */

.row {
	width: 1536px; /* width = block's amount * block width*/
	height: 384px; /* .road width */
	background-color: #B4D826;
}



/* road */


.road {
	display: inline-block;
	width: 512px;  /* .column width */
	height: 384px;
	vertical-align: top;
	background-color: #8E8E8E;
}



.road-x {
	background-image: url(/road_x.png);
}

.road-horizon {
	background-image: url(../img/road_horizon.png);
}

.road-up {
	background-image: url(../img/road_up.png);
}

.road-up-right {
	background-image: url(../img/road_up_right.png);
}

.road-up-left {
	background-image: url(../img/road_up_left.png);
}





/* internal block`s */

.main-obj {
	width: 100%;
	height: 100%;
	text-align: center;
}

.big-date {
	height: 70%;
	font-size: 80px;
}

.big-date p {
	padding-top: 29%;
}

.md-date {
	height: 70%;
	font-size: 40px;
}

.md-date p {
	padding-top: 32%;
}



.sign-txt {
	/*background-color: rgba(0,0,255,.1);*/
	height: 30%;
}

.sign-txt p {
	font-size: 20px;
	color: #EFEFEF;
}





.img-big {
	padding-top: 15%;
}
